body {
    background-image: url(https://images.unsplash.com/photo-1574781375669-66b08d903fd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1516&q=80);
    font-family: Arial, sans-serif;
    background-position: top;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-size: 250%;

        background-repeat: no-repeat;
    }
}
